<header class="animated slideInDown">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= link_to root_path, :class => 'logo' do %>
            <%= image_tag 'logo.png', :class => 'img-responsive', :alt => 'logo' %>
          <% end %>
          <ul class="menu">
            <% if user_signed_in? %>
                <li>
                  <%= link_to('Logout <i class="fa fa-sign-out" aria-hidden="true"></i>'.html_safe, destroy_user_session_path, :method => :delete) %>
                </li>
                <li>
                  <%= link_to basket_path do %>
                        <span class="basket-icon">
                          <label class="counter">0</label>
                          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </span>
                  <% end %>
                </li>
            <% else %>
                <li>
                  <%= link_to 'Sign Up', new_user_registration_path %>
                </li>
                <li>
                  <%= link_to 'Sign In', new_user_session_path %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</header>