<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Checkout</h3>
      </div>
    </div>
    <% if @products.any? %>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="order-details animated slideInLeft">
                <h5>Order details</h5>
                <table class="table">
                    <thead>
                        <tr>
                          <th></th>
                          <th>Name</th>
                          <th>Qty</th>
                          <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @products.each do |p| %>
                            <tr>
                              <td>
                                <%= image_tag p['image'], :class => 'img-responsive', :alt => 'product' %>
                              </td>
                              <td><%= p['name'] %></td>
                              <td>
                                <%= p['quantity'] %>
                              </td>
                              <td><%= number_to_currency(p['price'], precision: 2) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
              <div class="summary">
                <p>Total: <span><%= number_to_currency(@total_price, precision: 2) %></span></p>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="payment-informations animated slideInRight">
              <h5>Payment informations</h5>
              <%= form_for Order.new, :url => create_order_path do %>
                <div class="input-group">
                  <input type="email" name="order[email]" placeholder="E-mail"/>
                </div>
                <div class="input-group">
                  <input type="text" name="order[address]" placeholder="Address"/>
                </div>
                <div class="input-group">
                  <select name="card_type">
                    <option value="VISA">Visa</option>
                    <option value="MASTERCARD">MasterCard</option>
                  </select>
                </div>
                <div class="input-group">
                  <input type="number" name="card_number" placeholder="Card number"/>
                </div>
                <div class="input-group">
                  <label>Expiration date</label>
                  <div class="expiration-date">
                    <div class="small-input">
                      <span>MM</span>
                      <input type="number" name="card_expiration_month" min="1" max="12" value=""/>
                    </div>
                    <div class="small-input">
                      <span>YY</span>
                      <input type="number" name="card_expiration_year" min="1" max="99" value=""/>
                    </div>
                  </div>
                </div>
                <div class="input-group">
                  <input type="number" name="card_cvv" min="1" max="999" placeholder="CVV"/>
                </div>
                <button type="submit" class="basic-btn">Create order</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</section>