<%= render 'checkout_info'  %>

<h1>Payment info</h1>


<% if @form.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @form, scope: :checkout, url: checkout_update_path(step: params[:step]), local: true, html: { method: :patch } do |form| %>
  <div class="field">
    <%= form.label :payment_method %>
    <%= form.text_field :payment_method %>
  </div>

  <%= link_to 'Back', checkout_path(step: @checkout_process.previous_step.name) %>
  <%= form.submit 'Next' %>
<% end %>
