<!DOCTYPE html>
<html>
  <head>
    <title>RailsDevTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <b>Ilość produków w koszyku: <%= current_cart.count_products %></b>
  </div>
    <%= yield %>
    <%= console %>
  </body>
</html>
