<!DOCTYPE html>
<html>
  <head>
    <title>RailsDevTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <b>Ilość produków w koszyku: <%= current_cart.items_count %></b>
    </div>
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= console %>
  </body>
</html>
